@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-h1 {
    @apply font-['Commissioner'] text-[5rem] font-extrabold leading-[5.5rem] tracking-normal;
  }

  .font-h2 {
    @apply font-['Commissioner'] text-[3.5rem] font-extrabold leading-[4rem] tracking-normal;
  }

  .font-h3 {
    @apply font-['Commissioner'] text-[1.25rem] font-extrabold leading-[2rem] tracking-normal;
  }

  .font-body {
    @apply font-['Commissioner'] text-[1.125rem] font-normal leading-[2rem] tracking-normal;
  }

  .btn-1 {
    @apply flex items-center justify-center bg-red font-['Commissioner'] text-[1.125rem] font-extrabold leading-[1.375rem] tracking-normal text-white hover:bg-[#FF9393] active:bg-[#FF9393];
  }

  .btn-2 {
    @apply flex items-center justify-center bg-bg-black font-['Commissioner'] text-[1.125rem] font-extrabold leading-[1.375rem] tracking-normal text-white hover:bg-[#434356] active:bg-[#434356];
  }

  .btn-3 {
    @apply font-['Commissioner'] text-[1.125rem] font-extrabold leading-[1.375rem] tracking-normal text-red underline decoration-red decoration-solid decoration-2 underline-offset-8 hover:text-[#FF9393] hover:decoration-[#FF9393] active:text-[#FF9393] active:decoration-[#FF9393];
  }

  header {
    background: url('/assets/mobile/image-hero.jpg') no-repeat top center;
    background-size: contain;
  }

  .strategic::before {
    content: '';
    background: url('/assets/desktop/bg-pattern-wave-red.svg') no-repeat top
      center;
    background-size: contain;
    width: 63px;
    height: 29px;
    position: absolute;
    left: 24px;
    top: -15px;
  }

  @media (min-width: 768px) {
    header {
      background: url('/assets/tablet/image-hero.jpg') no-repeat top right;
      background-size: contain;
    }

    .strategic::before {
      left: -32px;
      top: 145px;
    }

    .slider::after {
      content: '';
      background: url('/assets/desktop/bg-pattern-wavy-white.svg') no-repeat top
        center;
      background-size: contain;
      width: 63px;
      height: 29px;
      position: absolute;
      right: -31px;
      top: 126px;
      transform: scaleY(-1);
    }
  }

  @media (min-width: 1280px) {
    header {
      background: url('/assets/desktop/image-hero.jpg') no-repeat top right;
      background-size: contain;
    }

    .strategic::before {
      width: 135px;
      height: 61px;
      position: absolute;
      left: -67.5px;
      top: 234px;
    }

    .slider::after {
      width: 134px;
      height: 60px;
      position: absolute;
      right: -67px;
      top: 186px;
      transform: scaleY(1);
    }

    .cta::before {
      content: '';
      background: url('/assets/desktop/bg-pattern-wave-red.svg') no-repeat top
        center;
      background-size: contain;
      width: 134px;
      height: 60px;
      position: absolute;
      left: -67px;
      top: 154px;
    }
  }
}
